
body {
    margin: auto;
}

header {
    font-size: 1.3em;
}

#reserve_button {
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    top: 210px;
}

main {
    margin-top: 320px;
    margin-left: 10px;
    margin-right: 10px;
}

.section_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

.main_headings {
    bottom: 10px;
}

#joinus {
    display: none;
}

#joinus_large {
    display: block;
    position: relative;
    top: 50px;
    font-family: 'Quintessential', cursive;
    font-size: 5em;
}

#current_conditions {
    margin-top: 20%;
}

#address {
    left: 44%;
    bottom: 135px;
}

#phone_email {
    left: 75%;
    bottom: 209px;
}

//River Adventures Styling
header {
    max-width: 100%;
}

nav {
    max-width: 100%;
}


#ra_wwr {
    float: left;
    margin-right: 2%;
}

.ra_sections {
    margin-bottom: 2%;
}

p {
    font-size: 1.1em;
    padding-bottom: 2%;
}