

.logo {
    display: block;
    margin-right: 3%;
}

#reserve_button {
    top: 150px;
}

nav {
    top: 210px;
}

nav ul {
    width: 1028px;
    max-width: 100%;
    list-style-type: none;
    overflow: hidden;
}

// Layout links horizontally
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Space links out across nav
.navigation li {
    display: block;
    flex: 1 1 100%;
}

// Hide hamburger menu icon & text
.navigation li:first-child {
    display: none;
}

.section_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

.adv_images {
    max-width: 96%;
}

#joinus {
    margin-top: 10%;
}

.main_headings {
    max-width: 96%;
    left: 8px;
}

#current_conditions {
    margin-top: 5%;
}

#phone_email {
    left: 70%;
    bottom: 193px;
}

#address {
    left: 40%;
    bottom: 130px;
}

//River Adventures Page Styling

#ra_wwr {
    float: left;
    margin-right: 2%;
}

#ra_kayak {
    float: right;
    margin-left: 2%;
}

#ra_camping {
    float: left;
    margin-right: 2%;
}

footer img {
    position: relative;
    bottom: 60px;
    margin-left: 3%;
}

//Contact Page Styling
legend {
    font-size: 1.1em;
}
