picture {
    margin: auto;
}

picture img[data-src] {
    -webkit-filter: blur(0.2em);
    filter: blur(0.2em);
}

picture img {
    -webkit-filter: blur(0em);
    filter: blur(0em);
    -webkit-transition: 0.5s;
    transition: 0s;
}