h1 {
    margin: auto;
    padding: 5%;
    text-align: center;
}

h2 {
    margin: auto;
    text-align: center;
    padding-bottom: 2%;
}

.video_container {
    background-color: lightgray;
    margin: auto;
    padding: 2%;
    max-width: 100%;
}

video {
    width: 100%;
    height: auto
}