/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	header,
	nav,
	main,
	footer {
		max-width: 1280px;
		margin: 0 auto;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
    }
    
    article:nth-child(1) {
		grid-column: span 2;
	}

	article:nth-child(2) {
		grid-column: span 2;
	}

	article:nth-child(3) {
		grid-column: span 2;
	}

	.swatches{
		max-width: 70%;
		height: 90px;
		border-radius: 10px;
	}

	#family_pic {
		max-width: 100%;
	}
}