/* Tablet View */

@media only screen and (min-width: 37.5em) {

    
    .section_container {
        grid-template-columns: 1fr 1fr;
    }

    header, footer {
        max-width: 960px;
    }

    #nike {
        grid-column: span 2;
    }

    footer {
        font-size: 1.5em;
    }
}