/*Phone or baseline view*/

body {
    font-size: 16px;
    margin: 3%;
    background-color: whitesmoke;
  }

h1, h2, h3, h4 { 
    font-family: 'Russo One', sans-serif;
  }

header {
    max-width: 767px;
    margin: 0 auto;
    text-align: center;
}

main {
    max-width: 767px;
	margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

h1 {
    color: #bbb;
    font-size: 3em;
    text-shadow: 2px 2px 0px darkred;
}

h2 {
    color: darkred;
    font-size: 2em;
}

h3 {
    font-Size: 1.5em;
}

h4 {
    background-color: lightblue;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

p, li {
    font-size: 1.3em;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #000;
}

header, main, footer {
	border: 1px solid #333;
	box-shadow: 0 0 10px #000;
}

footer {
    font-size: 1.4em;
    max-width: 767px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px 20px 0px;
}

#lastModif {
    color: darkred;
  }

