@media only screen and (min-width: 60em) {
    #logo {
        width: 200px;
    }

    h1 {
        font-size: 5rem; 
    }
    
    #motto {
       font-size: 2.16rem;
    }

    nav ul a {
        font-size: 1.7em;
    }

    #article_img {
        float: right;
        margin: 3%;
        max-width: 100%;
        box-shadow: 0 0 10px darkorange;
    }

    main, footer {
        max-width: 960px;
    }

}