body {
    font-size: 16px;
    margin: 0px;
    font-family: 'Cormorant';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Eczar';
}



#banner {
    margin-bottom: 4px;
    padding: 1px;
    font-size: 1.3rem;
    text-align: center;
    background-color: darkorange;
    text-shadow: 1px 1px 0px white;
}

header {
    background-color: lightblue;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
}

#logo {
    width: 90px;
    padding-top: 15px;
}

.headings {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px lightslategray;
    margin: 0px;
    padding: 0px;
}

#motto {
   font-style: italic;
   color: white;
   text-shadow: 1px 1px 1px black;
   font-size: 1.05rem;
   margin: 0px;
   padding: 0px 10px;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

nav {
    align-items: center;
    background-color: lightslategray;
    max-width: 100%;
    text-align: center;
	box-shadow: 0 0 10px #000;
	border-radius: 20px;
    margin-top: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    color: darkorange;
}

.responsive li {
    display: block;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.25rem;
}

.contentbox {
    display: block;
    margin: 10px auto;
    padding: 2%;
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: 0 0 10px #000;
    font-size: 1.3rem;   
}

#herodiv_container {
    position: relative;
    background-color: lightslategray;
}

.contentbox_img {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#hero_img {
    max-width: 100%;
    box-shadow: 0 0 10px darkorange;
}

.weathersummary {
    position: absolute;
    top: 5%;
    left: 3%;
    background-color: lightslategray;
    padding: 3% 7%;
    font-size: 0.9rem;
    opacity: 0.8;
}

h3 {
    border-bottom: 2px solid white;
}

#forecast_container {
    display: none;
    text-align: center;
    background-color: lightslategray;
    padding-bottom: 3%;
}

table {
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px darkorange;
}

table p {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 3%;
    font-size: 1.5rem;
}
table th, td {
    border: 1px solid black;
    text-align: center;
}

#article_container {
    color: lightslategray;
    font-style: normal;
    text-shadow: none;
}

#article_container h3 {
    font-size: 1.7rem;
}

h5 {
    font-style: italic;
}

#article_img {
    max-width: 100%;
    box-shadow: 0 0 10px darkorange;
}

#contact_container {
    background-color: lightslategray;
    border-radius: 20px;
}

#map img {
    float: left;
    box-shadow: 0 0 10px darkorange;
}

#map {
    display: none;
}

#contact_text{
    margin-left: 10%;
}

main, footer {
    margin: auto;
}

footer {
	font-size: 1.3rem;
	background-color: lightblue;
	align-items: center;
	justify-content: center;
	padding: 10px;	
	text-align: center;
	box-shadow: 0 0 10px #000;
	border-radius: 20px;
}
