body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 960px;
    margin: auto;
  }
  
  h1, h2, h3, h4 {
    
    font-family: 'Russo One', sans-serif;
  }
  
  h1 {
    font-size: 1em;
    padding: 30px 10px 30px 100px;
  }

  h2 {
    padding: 30px 10px 5px 0px;
    color: rgb(131, 103, 67);
    font-size: 0.5rem;
    border-bottom: solid black 2pt; 
  }
  
  main {
    margin-left: 0.5rem;
    padding: 0.5rem;
    max-width: 640px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }

  footer {
    margin:  0.5rem auto;
    padding: .5rem;
  }
  
  header h1,
  footer {
    background-color: navy;
    color: #fff;
  }
  
  footer {
    text-align: center;
  }
  
  footer a {
    color: #fff;
  }

  #lastModif {
    color: yellow;
  }
  
  img {
    margin-right: 6rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }